.lda-card {
  height: 100%;
}

.lda-topics {
  margin-bottom: 24px;
}

.lda-visualization {
  margin-top: 24px;
}

.lda-iframe {
  width: 100%;
  height: 600px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

